/* =======================================================================
    Style References
======================================================================= */
@import (reference) "../../common/styles/custom_mixins.less";
@import (reference) "../../common/styles/custom_variables.less";


/* =======================================================================
    Module Styles
======================================================================= */
.flr-img {
  width: 100px;
  height: 100px;
}

.flr-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flr-pointer {
  cursor: pointer;
}

/* =======================================================================
    Loading
======================================================================= */

.loading span{
  display: inline-block;
  padding: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius:50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.ball1{
  background: #0063dc;
  -webkit-animation: move-left 800ms ease-in-out  infinite alternate;
  -moz-animation: move-left 800ms ease-in-out  infinite alternate;
  -ms-animation: move-left 800ms ease-in-out  infinite alternate;
  -animation: move-left 800ms ease-in-out  infinite alternate;

}
.ball2{
  background:#ff0084;
  -webkit-animation: move-right 800ms ease-in-out  infinite alternate;
  -moz-animation: move-right 800ms ease-in-out  infinite alternate;
  -ms-animation: move-right 800ms ease-in-out  infinite alternate;
  animation: move-right 800ms ease-in-out  infinite alternate;
}
@-webkit-keyframes move-left {.ball-first;}
@-moz-keyframes move-left {.ball-first;}
@-ms-keyframes move-left {.ball-first;}
@-o-keyframes move-left {.ball-first;}
@keyframes move-left {.ball-first;}

@-webkit-keyframes move-right {.ball-second;}
@-moz-keyframes move-right {.ball-second;}
@-ms-keyframes move-right {.ball-second;}
@-o-keyframes move-right {.ball-second;}
@keyframes move-right {.ball-second;}

.ball-first() {
  from { }
  to {
    -webkit-transform: translate(20px,0);
    -ms-transform: translate(20px,0);
    -moz-transform: translate(20px,0);
    transform: translate(20px,0);
    background:#ff0084;
  }
}
.ball-second () {
  from { }
  to {
    -webkit-transform: translate(-20px,0);
    -ms-transform: translate(-20px,0);
    -moz-transform:translate(-20px,0);
    transform: translate(-20px,0);
    background: #0063dc;
  }
}

/* =======================================================================
    Flex view
======================================================================= */
.flr-flex-view {
  display: flex;
  display: -webkit-flex;
  div:first-child {
    .flr-margin-left-large;
  }
  div {
    .flr-margin-right-large;
  }
}

.flr-title {
  .flr-margin-bottom-large;
  .flr-margin-right-large;
  .flr-margin-left-large;
}



