/* =======================================================================
    Style References
======================================================================= */
@import (reference) "../../common/styles/custom_mixins.less";
@import (reference) "../../common/styles/custom_variables.less";


/* =======================================================================
    Module Styles
======================================================================= */
.hunt-more__button {
	margin-top: 20px;
}

.box__content__info {
	margin-top: 0.4em;
	margin-bottom: 10px;
}

.box__content__info--bold {
	font-weight: bold;
}

.box__content__icon--loader {
	margin-top: 50px;
	font-size: 10em;
}

.box__content__icon--delete {
	position: absolute;
    right: 30px;
    top: 20px;
    font-size: 2em;
    cursor: pointer;
}
