<div class="container">
	<no-free-cage></no-free-cage>
	<div class="row">
		<h2 class="text-center">My creatures</h2>
		<no-creatures></no-creatures>
		<div class="form-group form-inline" ng-show="profileInfo.myCreatures.length>1">
			<label for="prop">Order by:</label>
			<select class="form-control" ng-options="type.name for type in orderingType" ng-model="orderingProperty" id="prop"></select>
		</div>
		<div class="row">
			<div ng-repeat="c in profileInfo.myCreatures | orderBy: orderingProperty.value" class="col-md-4">
				<div class="box">
					<div class="box__content" ng-show="!loading">
						<i ng-show="!isHunting(c)" class="fa fa-remove box__content__icon--delete" ng-click="free(c)"></i>
            			<h1 class="tag-title text-center">{{c.name}}</h1>
        				<hr />
        				<img ng-src="{{c.image}}" class="box__content__img img-circle img-responsive"/>
            			<hr />
        				<div class="row box__content__info">
        					<div class="col-md-6 col-xs-6">
        						<span class="box__content__info--bold">Age:</span> {{c.age}}</div>
        					<div class="col-md-6 col-xs-6">
        						<span class="box__content__info--bold">Mana:</span> {{c.mana}}</div>
        					<div class="col-md-12 col-xs-12">
        						<span class="box__content__info--bold">Capture time:</span> {{c.captureTime | date: 'h:mm:ss a'}}</div>
        				</div>
          			</div>
          			<div class="box__content" ng-show="loading">
      					<h1 class="tag-title text-center">Releasing {{c.name}}...</h1>
      					<i class="box__content__icon--loader fa fa-refresh fa-spin fa-3x fa-fw"></i>
      				</div>
      			</div>
			</div>
		</div>
		</div>
		<div class="hunt-more row text-center" ng-show="profileInfo.freeCage !== 10">
			<div class="col-md-6 col-md-offset-3">
				<button class="hunt-more__button btn btn-block btn-primary" ng-disabled="profileInfo.freeCage === 0 || loading" ng-click="huntMore()">
				Hunt for more!
				</button>
			</div>
		</div>         
	</div>
</div>