
<div class="container">
    <div class="row text-right">
            <button type="button" class="btn btn-primary" ng-click="goBack()">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                Back
            </button>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-18">
            <h1><a ng-href="{{item.link}}" target="_blank">{{item.title}}</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <ul class="list-inline">
                <li>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <a ng-href="{{authorPageLink}}" target="_blank">{{item.author}}</a>
                </li>
                <li>|</li>
                <li>
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    Published: {{date}}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="well">
            <div class="media">
                <img class="media-object  pull-left" ng-src="{{item.media.m}}">
                <div class="media-body">
                    <p ng-bind-html="item.description"></p>
                </div>
            </div>
        </div>
    </div>
    <div class = "row flr-margin-bottom-small">
        <div class="col-md-12 col-xs-16">
            Tags <span class="fa fa-tag"></span>
        </div>
    </div>
    <div class = "row">
        <div class="col-md-12 col-xs-18">
            <div class="label label-primary flr-tag flr-margin-right-small flr-margin-bottom-small pull-left" ng-repeat="tag in tags">{{tag}}</div>
        </div>
    </div>
</div>